@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --white60: #FFFFFF99;
  --white50: #FFFFFF80;
  --white72: #FFFFFFB8;
  --bg-primary: #312e2b;
  --border-radius-l: 10px;
  --border-radius-m: 5px;
  --border-radius-s: 3px;
  --accent-green: #81b64c;
  --accent-red: #e02828;
  --section-bg: rgba(0, 0, 0, 0.2);
  --accordion-bg: rgba(255, 255, 255, 0.05);
  --shadow-box: 0px -4px 0px 0px rgba(0, 0, 0, 0.4) inset;
  --shadow-box-s: 0px -1px 0px 0px #45753c inset;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--bg-primary);
}

.event-info-tab-info-component {
  padding: 0;
}

h3 {
  font-size: 36px;
}

.layout-component h2,
.layout-component h3,
.layout-component h4,
.layout-component p {
  margin: 0;
}

.layout-component h2,
.layout-component h3,
.layout-component h4,
.layout-component .heading {
  font-family: "montserrat";
}

.title-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.title-with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-with-icon>img {
  height: 56px;
  width: 56px;
}

.top-buttons-container {
  display: flex;
  gap: 12px;
}

.section-button {
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.20);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
  color: #FFF;
  font-family: "montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  width: 100%;
}

.section-button.is-active {
  background: url('https://images.chesscomfiles.com/uploads/ad_image/18315.4345173d.jpg') no-repeat top;
}

a.section-button,
a.section-button:hover,
a.section-button:visited {
  text-decoration: none !important;
  color: inherit !important;
}

.player-section,
.video-section {
  background: var(--section-bg);
  padding: 40px 24px;
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-section h2 {
  font-size: 56px;
  line-height: 63px;
  font-weight: 800;
}


.player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.player-item {
  background: linear-gradient(213deg, #fb9e48 0.11%, #d63636 100.02%);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  justify-content: end;
}

.player-item>img {
  width: 100%;
}

.player-name-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  height: 25%;
}

.player-name-container>span {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  padding: 0 8px;
}

.player-item-tooltip {
  position: absolute;
  top: 14px;
  left: 14px;
  max-width: 155px;
  color: var(--white72);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  display: none;
  padding: 8px;
  background-color: #272522;
  border-radius: var(--border-radius-m);
}

.player-item:hover .player-item-tooltip {
  display: block;
}

.layout-component {
  color: var(--white);
  display: block;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
}

section {
  margin-bottom: 24px;
  border-radius: var(--border-radius-l);
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  cursor: default;
}

a.schedule-item,
.info-block a {
  text-decoration: none;
  color: inherit !important;
}

a.schedule-item:visited,
.info-block a:visited {
  color: inherit;
}

a.schedule-item:hover,
.info-block a:hover {
  color: inherit !important;
}

.event-btn {
  border-radius: var(--border-radius-m);
  background: var(--accent-green);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px;
  border: none;
  max-width: max-content;
  box-shadow: var(--shadow-box-s);
  cursor: pointer;
  line-height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.event-btn:hover {
  background: linear-gradient(0deg, rgba(178, 224, 104, 0.50) 0%, rgba(178, 224, 104, 0.50) 100%) #81B64C;
  box-shadow: 0px -1px 0px 0px #45753C inset, 0px -4px 16px 0px rgba(69, 117, 60, 0.50) inset;
}

section.event-banner,
section.about-event {
  padding: 40px;
}

.event-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.events {
  width: 33.33%;
  margin-right: 16px;
}

.event-card {
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  border-bottom: 3px solid #1b1a18;
  display: flex;
}

.event-card>img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

#peekCardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

.peekCard {
  background-color: var(--section-bg);
  display: flex;
  gap: 24px;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.peekCardIconContainer {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-flex;
}

.peekCardIcon {
  max-height: 40px;
  height: 40px !important;
  width: 40px !important;
}

.peekCardText {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white60);
}

.event-banner {
  background-image: url(https://images.chesscomfiles.com/uploads/ad_image/18299.2ae0b2d7.jpg);
  background-size: cover;
  display: flex;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.4) inset;
  cursor: default;
  align-items: center !important;
}

.event-banner img {
  min-width: min-content;
  width: 135px;
  height: 150px;
}

.event-banner h3 {
  font-size: 31px;
  margin-bottom: 0px !important;
  font-weight: 800;
  line-height: 36px;
}

.event-banner p {
  font-size: 22px;
  font-weight: 700;
  color: var(--white50);
}

.event-banner img {
  margin-right: 40px;
}

.event-schedule-prize {
  display: flex;
  gap: 20px;
}

.schedule {
  width: 66.66%;
  background: var(--section-bg);
  padding: 40px;
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.schedule-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 24px;
  width: 100%;
}

.schedule-item {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius-m);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.4) inset;
  gap: 4px;
}

.schedule-item.is-active {
  background: #5d9948;
}

.schedule-item:last-of-type,
.schedule-item:first-of-type {
  grid-column: span 2;
}

.schedule-item h4 {
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  font-weight: 700;
}

.schedule-item:nth-child(1) h4 {
  font-size: 28px;
  line-height: 32px;
}

.schedule-item:nth-child(4) h4 {
  color: #FFFFFFD9;
}

.schedule-item:nth-child(4) {
  padding: 14px;
}

.event-date {
  color: var(--white50);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}

.prize {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: var(--border-radius-l);
  justify-content: center;
  align-items: center;
  cursor: default;
}

.amount {
  font-size: 36px;
  font-weight: 700;
  color: #f7c631;
  margin-top: 24px;
  line-height: 40px;
  text-wrap: nowrap;
}

.prize-text {
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 24px;
  line-height: 24px;
}

.prize-text,
.event-prize-text,
.final-prize-text,
.subheading {
  font-size: 17px;
  text-align: center;
}

.event-prize-text {
  padding: 0 14px;
}

.subheading {
  margin-top: 4px;
  margin-bottom: 32px;
}

.video-container {
  max-height: 392px;
  max-width: 696px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.event-prize-text,
.final-prize-text,
.subheading {
  color: var(--white50);
  font-weight: 700;
  line-height: 24px;
}

.about-event {
  display: flex;
  background: var(--section-bg);
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 57px;
}

.heading {
  font-size: 56px;
  line-height: 58px;
  font-weight: 800;
  margin-bottom: 16px;
  cursor: default;
}

.info-text {
  font-size: 16px !important;
  margin-bottom: 32px !important;
  line-height: 24px;
  color: var(--white72) !important;
  cursor: default;
}

.player-section .info-text {
  text-align: center;
  color: var(--white50) !important;
  margin-bottom: 40px !important;
}

.accordion {
  width: 100%;
}

.accordion-item input {
  display: none;
}

.accordion-item input:checked~article {
  transition: max-height 0.2s ease-in-out;
  max-height: 640px;
  height: max-content;
}

.accordion-item {
  background: var(--accordion-bg);
  padding: 24px;
  border-radius: var(--border-radius-m);
  margin-bottom: 15px;
}

.accordion-item:last-of-type {
  margin-bottom: 0;
}

.accordion-item input:checked+label {
  margin-bottom: 24px;
}

.accordion-item input:checked+label img {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}

.accordion-item label {
  position: relative;
  z-index: 20;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.accordion-content {
  position: relative;
  z-index: 10;
  font-size: 16px !important;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.72);
  max-height: 0;
  overflow: hidden;
  cursor: default;
}

.accordion-content ul {
  padding-left: 16px;
  margin-bottom: 24px;
  margin-left: 0 !important;
}

.accordion-content li {
  margin-bottom: 0 !important;
}

.accordion-content li,
.accordion-content p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--white72);
}

.accordion-content a {
  text-decoration: underline;
}

.accordion-content a,
.accordion-content a:visited,
.accordion-content a:hover {
  color: inherit !important;
}

.player-grid {
  grid-template-columns: repeat(auto-fill, minmax(199px, 1fr));
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .event-info {
    flex-direction: column;
    align-items: center;
  }

  .events {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    margin-right: 0;
    justify-content: center;
  }

  .participants {
    width: auto;
    height: 90% !important;
    left: 75%;
  }

  .about-event {
    flex-direction: column;
  }

  .accordion,
  .info-block {
    width: 100%;
  }

  .info-block {
    margin-bottom: 39px;
    margin-right: 0;
  }
}

@media screen and (max-width: 760px) {
  .event-schedule-prize {
    flex-direction: column;
    gap: 24px;
  }

  .schedule,
  .prize {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .player-grid {
    grid-template-columns: 1fr 1fr;
  }

  .events,
  .event-banner {
    flex-direction: column;
  }

  .event-card {
    border-bottom: 3px solid #1b1a18;
  }

  .player-name-container>span {
    font-size: 12px;
  }

  .event-banner img {
    margin-right: 0;
    margin-bottom: 40px;
    width: 100px;
    height: 119px;
  }

  h3 {
    font-size: 20px;
  }

  .event-banner h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .event-banner p {
    font-size: 16px;
    line-height: 19px;
  }

  .schedule-item {
    box-shadow: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  }

  .schedule h2 {
    font-weight: 800;
  }

  .schedule-table {
    margin-top: 20px;
  }

  .event-card {
    width: 100%;
  }

  .info-block {
    margin-bottom: 39px;
    margin-right: 0;
  }

  .heading {
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
  }

  .schedule-table {
    grid-template-columns: 1fr 1fr;
  }

  .section-button {
    font-size: 18px;
    padding: 12px;
  }
}

@media screen and (max-width: 540px) {
  #peekCardsContainer {
    grid-template-columns: 1fr;
  }

  a.schedule-item {
    grid-column: span 2;
  }
}

@media screen and (max-width: 340px) {
  .top-buttons-container {
    flex-direction: column;
  }

  .title-with-icon {
    flex-direction: column;
  }

  .player-grid {
    grid-template-columns: 1fr;
  }
}